$main-font: "Gotham Pro Bold";

$services-title-font: "Gotham Pro Light";

$blog-date-font: "Gotham Pro Light";

$section-title-font: "Gotham Pro Light";

$footer-text-font: "Gotham Pro Light";

$title-font: "Attentica 4F UltraLight";

$main-gold-color: rgba(205, 173, 98, 0.5);
